{% extends 'base.html.twig' %}

{% block title %}EDITAR CLASE{% endblock %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/editClase.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/general.css') }}">
{% endblock %}
    <div class="container">
        
        {{ include('clase/_form.html.twig', {'button_label': 'Actualizar'}) }}

        {{ include('clase/_delete_form.html.twig') }}
        <a href="{{ path('clase_index') }}" class="link link-button">Volver a la lista</a>
    </div>

    <script src="{{ asset('js/botonesForms.js') }}"></script>
{% endblock %}
