{% extends 'base.html.twig' %}

{% block title %}LISTA DE CLASES{% endblock %}

{% block body %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('/css/list.css') }}"> {% endblock %}
    
    <header>
        {% include '/admin/nav.html.twig' %}
    </header>
    <div class="container">
        <h2>Lista de clases programadas.</h2>
        <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Nombre clase</th>
                <th>Dias semana</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Max. Alumnos</th>
                <th>Min. Alumnos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for clase in clases %}
            <tr>
{#                <td>{{ clase.id }}</td>#}
                <td>{{ clase.nombreClase }}</td>
                <td>{{ clase.diasSemana }}</td>
                <td>{{ clase.horaInicio }}</td>
                <td>{{ clase.horaFin }}</td>
                <td>{{ clase.maxAlumnos }}</td>
                <td>{{ clase.minAlumnos }}</td>
                {% if clase.disponible == 0 %}
                    <td>No disponible.</td>
                {% else %}
                    <td>Disponible.</td>
                {% endif %}
                <td class="acciones">
                    <a href="{{ path('clase_show', {'id': clase.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('clase_edit', {'id': clase.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No se han encontrado clases</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clase_new') }}" class="link link-button">Agregar una nueva clase.</a>
    </div>
{% endblock %}
