{% extends 'base.html.twig' %}

{% block title %}Clase{% endblock %}

{% block body %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('/css/list.css') }}"> {% endblock %}
    {% include '/admin/nav.html.twig' %}
    <div class="container">
        <h2>Clase: {{clase.nombreClase}}</h2>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clase.id }}</td>
            </tr>
            <tr>
                <th>Nombre clase</th>
                <td>{{ clase.nombreClase }}</td>
            </tr>
            <tr>
                <th>Dias semana</th>
                <td>{{ clase.diasSemana }}</td>
            </tr>
            <tr>
                <th>Hora inicio</th>
                <td>{{ clase.horaInicio }}</td>
            </tr>
            <tr>
                <th>Hora fin</th>
                <td>{{ clase.horaFin }}</td>
            </tr>
            <tr>
                <th>Max. Alumnos</th>
                <td>{{ clase.maxAlumnos }}</td>
            </tr>
            <tr>
                <th>Min. Alumnos</th>
                <td>{{ clase.minAlumnos }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                {% if clase.disponible == 1 %}
                    <td>Disponible</td>
                {% else %}
                    <td>No Disponible</td>
                {% endif %}

            </tr>
        </tbody>
    </table>

    <a href="{{ path('clase_index') }}" class="link link-button">Volver a la lista</a>

    <a href="{{ path('clase_edit', {'id': clase.id}) }}" class="link link-edit">Editar esta clase</a>

    {{ include('clase/_delete_form.html.twig') }}
    </div>
{% endblock %}
