{% extends 'base.html.twig' %}

{% block title %}CLASES PROFESOR {% endblock %}

{% block body %}
{{dump(clases)}}
{{dump(apuntados)}}
{{dump(fechas)}}

{#{% block javascripts %} <script src="{{ asset('/js/textArea.js') }}"></script> {% endblock %}#}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('/css/list.css') }}"> 
     <link rel="stylesheet" href="{{ asset('/css/tarjetas.css') }}"> 
     <link rel="stylesheet" href="{{ asset('/css/buscador.css') }}"> 
    
{% endblock %}
    <header>
        {% include '/profesor/nav.html.twig' %}
    </header>
 <div class="container">
        <table class="table table-striped text-center">
            <thead class="thead-dark text-uppercase">
            <tr>
                <th>Deporte</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Alumnos apuntados</th>
            </tr>
            </thead>
            <tbody>

                {% for e in clases %}
              
                <tr>
                    <td>{{ e.getNombreClase }}</td>
                    <td>{{ fechas[loop.index - 1]|date("m/d/Y")}}</td>
                    <td>{{ e.getHoraInicio}}</td>
                    <td>{{ e.getHoraFin}}</td>
                    <td>{{ apuntados[loop.index - 1]}}</td>
                  
                    
                </tr>
             
                {% endfor %}

            </tbody>
        </table>
    </div>
      <div id="your-component">
    <!-- Using Component -->
    <sweet-calendar
      :eventCategories="eventCategories"
      :events="events"
      ref="calendar"
    />
  </div>
  {#{% block javascripts %} <script src="{{ asset('profesor/calendario.vue') }}"></script> {% endblock %}#}
{% endblock %}
