{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('/css/list.css') }}"> {% endblock %}
    <header>
        {% include '/admin/nav.html.twig' %}
    </header>
    <div class="container">
        <caption><h2>Datos del usuario.</h2></caption>
        {% if cliente is not null %}

            <table class="table table-striped m-2 text-center">
                <thead class="bg-dark text-white text-uppercase">
                <tr>
                    <td>nombre</td>
                    <td>apellido</td>
                    <td>email</td>
                    <td>estado</td>
                    <td>nombre usuario</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ cliente.getNombre }}</td>
                    <td>{{ cliente.getApellido1 }}</td>
                    <td>{{ cliente.getEmail }}</td>
                    {% if   cliente.getUsuarioActivo  == 1 %}
                        <td>Usuario Activo</td>
                    {% endif %}
                    <td>{{ cliente.getNombreUsuario }}</td>
                </tr>
                </tbody>
            </table>

        {% else %}
            <h2>No se ha encontrado ningun usuario con ese DNI</h2>
        {% endif %}
        <a href="{{ asset('/admin')}}" class="link link-button">Volver al principio</a>


    </div>


{% endblock %}
