<nav>
    <ul>
        <li><a href="{{ asset('/admin/') }}"><img src="{{ asset('/img/logo_polideportivo.png') }}" alt="logo-polideportivo"></a></li>
        <li><a href="{{ asset('/admin/') }}">Inicio</a></li>
        <li><a href="{{ asset('/admin/empleados/') }}">Empleados</a></li>
        <li><a href="{{ asset('/clase/') }}">Clases</a></li>
        <li><a href="{{ asset('/admin/email/') }}">Enviar correo</a></li>
        <li><a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"> logout</i></a></li>
    </ul>
</nav>